extends layout

block content
  h3 Dashboard
  ul
    li
      a(href="/lobby/create") Create a lobby
    li
      a(href="/lobby/join") Join a lobby
    li
      a(href="/users/" + username) View my games library
    li
      a(href="/games") View the entire games library
    li
      a(href="/users") View all users
    li
      if username == "Admin"
        a(href="/gacha") 🎲Gacha🎲
      else
        | Gacha (TODO)
    li
      a(href="/dev") Developer Tools
    li
      a(href="/logout") Log out
  
  h3 Note:
  p
    | If you're playing with Google Chrome, it's recommended that you disable hardware media key handling at:
    br
    a(href="chrome://flags/#hardware-media-key-handling" target="_blank") chrome://flags/#hardware-media-key-handling
    br
    | This prevents the song title from being visible when adjusting system volume
  
  if new_features != undefined && new_features.length != 0
    h3 New Features:

    ul
    each feature in new_features
      li
        | #{feature}
