extends layout

block content
  ul
    li
      a(href="/lobby/create") Create a lobby
    li
      a(href="/lobby/join") Join a lobby
    li
      a(href="/users/" + username) View my games library
    li
      a(href="/games") View the entire games library
    li
      a(href="/users") View all users
    li
      | Gacha (TODO)
    li
      a(href="/logout") Log out
  
  if new_features != undefined && new_features.length != 0
    h2 New Features:

    ul
    each feature in new_features
      li
        | #{feature}
